<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Analytics Dashboard</title>

	<script src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"
			data-sap-ui-xx-bindingSyntax="complex" data-sap-ui-theme="sap_belize"
			id="sap-ui-bootstrap" data-sap-ui-libs="sap.m, sap.ui.table">
	</script>

	<script src="../src/dashboard.js"></script>
</head>
<body id="content" class="sapUiBody">

</body>
</html>